<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
    <title>test</title>
    <link rel="stylesheet" href="index.css"/>
</head>
<body>
<div class="wrapper">

    <!-- table 2 -->

    <table class="table2">
        <colgroup>
            <col>
            <col width="15%">
            <col width="50%">
        </colgroup>
        <thead>
            <tr>
                <td><div class="icon2"></div></td>
                <td>1</td>
                <td class="noBorder">Seilbahn</td>
                <td><a class="link" href="#">Detail</a></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><div class="icon2"></div></td>
                <td>1</td>
                <td class="noBorder">Seilbahn</td>
                <td><a class="link" href="#">Detail</a></td>
            </tr>
            <tr>
                <td><div class="icon2"></div></td>
                <td>1</td>
                <td class="noBorder">Seilbahn</td>
                <td><a class="link" href="#">Detail</a></td>
            </tr>
        </tbody>
    </table>

    <br/>
    <br/>

    <!-- table 1 -->
    <div class="table">
        <div class="head">
            <div class="icon"></div>
            <span class="number"> 1 </span>
            <span class="text"> Seilbahn </span>
            <a class="link" href="#">Detail</a>
        </div>
        <div class="body">
            <div class="row">
                <div class="icon"></div>
                <span class="number"> 1 </span>
                <span class="text"> Seilbahn </span>
                <a class="link" href="#">Detail</a>
            </div>
            <div class="row">
                <div class="icon"></div>
                <span class="number"> 1 </span>
                <span class="text"> Seilbahn </span>
                <a class="link" href="#">Detail</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>